@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .leading-main {
    line-height: 1.5;
  }

  .heading-default {
    font-family: var(--font-merriweather_sans_serif);
    font-weight: 700;
    font-size: clamp(32px,5vw,56px);
    letter-spacing: -2px;
  }

  .max-w-default {
    max-width: 1440px;
    margin: 0 auto;
  }

  .scroll-in {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .non-floating {
    bottom: calc(100vh - 90px);
    left: 50%;
    position: absolute;
    transition: all .5s ease-in-out;
    transform: translateZ(0) translateX(-50%);
  }

  .non-floating:hover {
    transform: translateZ(0) translateX(-50%) translateY(-5%);
  }

  .non-floating img {
    transition-duration: .75s;
  }

  .floating {
    background-color: #101217;
    border-radius: 50%;
    bottom: 32px;
    height: clamp(48px,5vw,64px);
    left: calc(100% - clamp(56px,8vw,96px));
    padding: 0;
    position: fixed;
    transform: translateZ(0);
    transition: all .5s ease-in-out;
    width: clamp(48px,5vw,64px);
    z-index: 10;
  }

  .hide-floating {
    left: 100%;
  }

  .floating:hover {
    transform: translateZ(0) translateY(-5%);
  }

  .floating:hover img {
    transform: translate(-50%, -50%) rotate(15deg);
  }

  .floating > span {
    opacity: 0;
    font-size: 0;
  }
}
